a{
     display: block;
     padding: 12px;
     color: #fff;
     text-decoration: none;
     transition: .25s all ease-out;
}
a:hover{
     transform: scale(1.2);
     color: #FFC009;
     transition: .3s all ease-in;
}
.hero{
     background-image: url('/assets/images/bgGreen.jpg');
     background-size: cover;
     height: 40vh;
}
.textShadow{

}