.hero {
  background-image: url('/assets/images/4.jpg');
  background-size: cover;
  background-position: 0px 30%; 
  height: 50vh;
}

.textShadow {
  text-shadow: 4px 4px 7px rgb(0, 0, 0, 0.4);
}

.mobileMenu,
.logIn {
  display: none;
}

@media screen and (max-width: 992px) {

  .mobileMenu,
  .logIn {
    display: block;
  }

  .mobileMenu a,
  .logIn a {
    color: #fff;
  }

  .mobileMenu:active,
  .logIn a:active {
    color: #FFC009;
  }
.upperHeader{
  height: 45px !important;
}

nav { 
    position: absolute;
    right:0;
    top:45px;
    width:60% !important;
    height: 100vh !important;
    background: #212529;
    padding:0 !important;
    display: flex;
    flex-direction: column;
justify-content: flex-start !important; 
    transform: translateX(100%) !important;
    transition: all .15s ease-out !important;
  }

  .mobileNavActive{ 
    transform: translateX(0%) !important;
    transition: all .25s ease-in !important;
  }

nav a{
    display: block;
    padding:8px;
    text-align: center;
    border-bottom: 2px solid white; 
  }

nav a:hover{
  background-color: rgba(255, 255, 255, 0.455);
  transform: scale(1);
}

}