/* You can add global styles to this file, and also import other style files */

h1,h2,h3,h4,h5,h6,a,p{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.customBtn{
     background-color: #fff;
     outline: none;
     padding: 8px 20px;
     border-radius: 50px;
     color: #fff;
     background-color: transparent;
     transition: .3s all ease-out;
     border: 2px solid #fff;
}
.customBtn:hover{
     background-color: #FFC009;
     border: 2px solid rgba(255, 255, 255, 0);
     transition: .3s all ease-in;
}
nav a, footer a{
     display: block;
     padding: 12px;
     color: #fff;
     text-decoration: none;
     transition: .25s all ease-out;
}
nav a:hover,footer a:hover{
     transform: scale(1.2);
     color: #FFC009;
     transition: .3s all ease-in;
}