<section>

  <div class="container-fluid text-center my-5">
    <h2 class="display-5">Adopting Recommendations</h2>
    <hr class="w-50 mx-auto">
    <p>Adopting Recommendations</p>
  </div>
  <div class="row mx-5 mb-5 justify-content-around">
    <div class="col-lg-3 bgImage2 mb-5 shadow hoverable text-white py-4 px-4 text-center" [ngStyle]="{minHeight:'280px'}">
      <div class="blackOverlay p-3">

        <h4 class="mb-5 pt-5">Some Title Here</h4>
        <p class="showOnHover">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur vel, magnam voluptates ea aut sunt?</p>
      </div>
    </div>
    <div class="col-lg-3 bgImage mb-5 shadow hoverable text-white py-4 px-4 text-center" [ngStyle]="{minHeight:'280px'}">
      <div class="blackOverlay p-3">

        <h4 class="mb-5 pt-5">Some Title Here</h4>
        <p class="showOnHover">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur vel, magnam voluptates ea aut sunt?</p>
      </div>
    </div>
    <div class="col-lg-3 bgImage3 mb-5 shadow hoverable text-white py-4 px-4 text-center" [ngStyle]="{minHeight:'280px'}">
      <div class="blackOverlay p-3">

        <h4 class="mb-5 pt-5" id="visible">Some Title Here</h4>
        <p class="showOnHover" id="visible">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur vel, magnam voluptates ea aut sunt?</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid text-center my-5">
    <h2 class="display-5">Raising a Dog</h2>
    <hr class="w-50 mx-auto">
    <p>must know when raising a dog</p>
  </div>

</section>