.hoverable:hover{
  transform: scale(1.05);
  opacity: 1;
  transition: .2s ease-in;
 }
 .hoverable{
   opacity: 0.7;
 transition: .2s ease-out;
 }
.showOnHover{
  opacity: 0;
}
.hoverable:hover .showOnHover{
  opacity: 1;
}
.hoverable:hover .blackOverlay{
  opacity: 0.7;
}
#visible{
  opacity: 1 !important;
  color: white !important;
  z-index: 100 !important;
}
.blackOverlay{
  background-color: #000;
  width: 100% ;
  height: 100% ;
  opacity: 0;
}
.blackOverlay h4,.blackOverlay p{
opacity: 1 !important;
}

.bgImage{
  background-image: url('https://images.pexels.com/photos/1174081/pexels-photo-1174081.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
}
.bgImage2{
  background-image: url('https://images.pexels.com/photos/4422098/pexels-photo-4422098.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
}
.bgImage3{
  background-image: url('https://images.pexels.com/photos/2053922/pexels-photo-2053922.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
}
.ServicesBgImage{
  background-image: url('../../assets/images/services.jpg');
  background-size: cover;
  min-height: 200px;
}


.customLi{
  height: 65px;
cursor: pointer;
font-size: 1.2em;
}

.customLi:hover,.customLi:active{
background-color: #ECB61A;
}
.customLiClicked{
  background-color: #ECB61A;
}
.customLi.active{
  background-color: #ECB61A;
}
.customBar{
  height: 250px;
}
.ngBackground{
  width: 100%;
  height: 200px;
background-size: cover;
background-position: center;
}

.customPetmeBtn:hover{
  color: #212529 !important;
  background-color: #FFC009 !important;
  border: none;
  outline: none;
  }
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
.customBar{
  display: grid !important;
  grid-template-columns: repeat(2,1fr);
}
.hoverable{
  opacity: 1;
}
.blackOverlay{
opacity: 0.5;
}
.vetVisitsDesc{
  height: 125px !important;
}

}

@media(hover: hover) and (max-width: 992px) {
  .hoverable:active .showOnHover,.hoverable:focus .showOnHover{
    opacity: 1;
  }
  .hoverable:active .blackOverlay,.hoverable:focus .blackOverlay{
    opacity: 0.7;
  }
}