<div class="container-fluid text-center my-5" >
    Admin Panel for now
  </div>

<div class="row text-center my-5">
 

    <div class="d-flex justify-content-around">
      <div class="col-4 d-flex justify-content-center "> <a routerLink="/addDog" class="btn btn-sm animated-button thar-one"><i class="fa fa-paw" aria-hidden="true"></i>Add <br>a Dog</a> </div>
      <div class="col-4 d-flex justify-content-center"> <a routerLink="/dogs" class="btn btn-sm animated-button thar-two"><i class="fa fa-paw" aria-hidden="true"></i>Edit / Del <br>a Dog</a> </div>
      <div class="col-4 d-flex justify-content-center"> <a routerLink="/dogs/add" class="btn btn-sm animated-button thar-one"><i class="fa fa-paw" aria-hidden="true"></i>Eyes On <br>List</a> </div>
</div>